:root {
	/* spacing */
	--space-1: calc(1rem * 0.25);
	--space-2: calc(1rem * 0.5);
	--space-3: calc(1rem * 0.75);
	--space-4: 1rem;
	--space-5: calc(1rem * 1.5);
	--space-6: 2rem;
	--space-7: 3rem;
	--space-8: 4rem;
	--space-9: 6rem;
	--space-10: 8rem;
	--space-11: 12rem;
	--space-12: 16rem;
	--space-13: 24rem;
	--space-14: 32rem;
	--space-15: 40rem;
	--space-16: 48rem;

	/** font sized */
	--text-size-xs: calc(1rem * 0.75);
	--text-size-sm: calc(1rem * 0.875);
	--text-size-base: 1rem;
	--text-size-1: calc(1rem * 1.125);
	--text-size-2: calc(1rem * 1.25);
	--text-size-3: calc(1rem * 1.5);
	--text-size-4: calc(1rem * 1.875);
	--text-size-5: calc(1rem * 2.25);
	--text-size-6: 3rem;
	--text-size-7: calc(1rem * 3.75);
	--text-size-8: calc(1rem * 4.5);

	/** colors */
	--primary-1: hsl(212, 100%, 97%);
	--primary-2: hsl(206, 81%, 90%);
	--primary-3: hsl(208, 60%, 62%);
	--primary-4: hsl(207, 61%, 48%);
	--primary-5: hsl(208, 65%, 39%);
	--primary-6: hsl(207, 63%, 27%);
	--primary-7: hsl(206, 43%, 23%);

	--neutral-1: hsl(220, 27%, 98%);
	--neutral-2: hsl(207, 18%, 90%);
	--neutral-3: hsl(212, 19%, 84%);
	--neutral-4: hsl(205, 18%, 76%);
	--neutral-5: hsl(214, 14%, 59%);
	--neutral-6: hsl(214, 13%, 43%);
	--neutral-7: hsl(220, 21%, 17%);

	--green-1: hsl(180, 100%, 95%);
	--green-2: hsl(177, 67%, 80%);
	--green-3: hsl(181, 54%, 64%);
	--green-4: hsl(175, 49%, 46%);
	--green-5: hsl(174, 56%, 36%);
	--green-6: hsl(174, 57%, 25%);
	--green-7: hsl(179, 57%, 17%);

	--yellow-1: hsl(42, 100%, 98%);
	--yellow-2: hsl(46, 90%, 92%);
	--yellow-3: hsl(46, 84%, 80%);
	--yellow-4: hsl(42, 87%, 67%);
	--yellow-5: hsl(44, 57%, 52%);
	--yellow-6: hsl(44, 63%, 33%);
	--yellow-7: hsl(44, 66%, 22%);

	--red-1: hsl(357, 77%, 95%);
	--red-2: hsl(6, 71%, 79%);
	--red-3: hsl(0, 70%, 64%);
	--red-4: hsl(0, 71%, 53%);
	--red-5: hsl(0, 71%, 42%);
	--red-6: hsl(1, 68%, 32%);
	--red-7: hsl(359, 60%, 24%);

	--gray-1: #f6f8fc;
	--gray-2: #eff1f7;
	--gray-3: #dde2ee;

	--fg-1: #151921;
	--fg-2: #23262e;
	--fg-3: #494c54;
	--fg-4: #686c6f;

	--border-1: #cacad8;
	--border-2: #c5c9cc;
	--border-3: #dfe1e5;

	/* fonts */
	--font-family: sans-serif;

	/* shadows */
	--shadow-sm: 0 2px 4px hsla(205, 18%, 76%, 50%);

	/* misc. */
	--container-width: 90%;
	--border-radius: 0.4rem;
}

:is(*, ::before, ::after) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	font-weight: normal;
}

body {
	height: 100vh;
	background-color: var(--gray-3);
	color: var(--fg-1);
	font-family: var(--font-family);
}

:is(button, input[type="submit"], a) {
	cursor: pointer;
}

#header {
	background-color: var(--gray-1);
	padding: var(--space-5) var(--space-4);
	border-bottom: 3px solid var(--border-1);

	.title {
		color: var(--fg-1);
		font-size: var(--text-size-2);
		font-weight: 600;
	}
}